/*body {
	margin: 0;
}*/

/*.ball {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.ball:hover {
	outline-color: black;
	outline-width: 2px;
	outline-style: solid;
	cursor: pointer;

}


#red {
	background-color: red;
	margin-left: 80px;
}

#blue {
	background-color: blue;
}

#green {
	background-color: green;
}*/


/*#tab-widget {
	margin: 50px;
	margin-top: 30px;
	background-color: grey;
	border-radius: 5px;*/
	/*
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;*/
/*}

.content {
	height: 100px;*/
	/*border-radius: 3px;*/
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#newsfeed {
	background-color: pink;
}

#photos {
	background-color: beige;
}

#pages {
	background-color: powderblue;
}*/


.box {
	background-color: pink;
	height: 100px;
	margin-top: 20px;
}

.card-content {
	font-size: 200%;
	font-weight: 200;
}

form {
	margin-bottom: 0;
}














